SupErpModuleUser/SupErpModuleUser/Service References/UserService/UserService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UserService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://superpwcf.azurewebsites.net/ModuleUser/UserService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://superpwcf.azurewebsites.net/ModuleUser/UserService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://superpwcf.azurewebsites.net/ModuleUser/UserService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SupErp.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IUserService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUserById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserById" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUserById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsers" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetRoles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRoles" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetRoles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRolesResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetRoleById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRoleById" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetRoleById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRoleByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetModules_InputMessage">
    <wsdl:part name="parameters" element="tns:GetModules" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetModules_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetModulesResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetRoleByUserId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRoleByUserId" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetRoleByUserId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRoleByUserIdResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_CreateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateUser" />
  </wsdl:message>
  <wsdl:message name="IUserService_CreateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_CreateRole_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateRole" />
  </wsdl:message>
  <wsdl:message name="IUserService_CreateRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateRoleResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_EditUser_InputMessage">
    <wsdl:part name="parameters" element="tns:EditUser" />
  </wsdl:message>
  <wsdl:message name="IUserService_EditUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_EditRole_InputMessage">
    <wsdl:part name="parameters" element="tns:EditRole" />
  </wsdl:message>
  <wsdl:message name="IUserService_EditRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditRoleResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_DeleteUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUser" />
  </wsdl:message>
  <wsdl:message name="IUserService_DeleteUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_DeleteRole_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRole" />
  </wsdl:message>
  <wsdl:message name="IUserService_DeleteRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRoleResponse" />
  </wsdl:message>
  <wsdl:portType name="IUserService">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/Login" message="tns:IUserService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/LoginResponse" message="tns:IUserService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserById">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetUserById" message="tns:IUserService_GetUserById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetUserByIdResponse" message="tns:IUserService_GetUserById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetUsers" message="tns:IUserService_GetUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetUsersResponse" message="tns:IUserService_GetUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRoles">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetRoles" message="tns:IUserService_GetRoles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetRolesResponse" message="tns:IUserService_GetRoles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRoleById">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetRoleById" message="tns:IUserService_GetRoleById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetRoleByIdResponse" message="tns:IUserService_GetRoleById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetModules">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetModules" message="tns:IUserService_GetModules_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetModulesResponse" message="tns:IUserService_GetModules_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRoleByUserId">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetRoleByUserId" message="tns:IUserService_GetRoleByUserId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetRoleByUserIdResponse" message="tns:IUserService_GetRoleByUserId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/CreateUser" message="tns:IUserService_CreateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/CreateUserResponse" message="tns:IUserService_CreateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/CreateRole" message="tns:IUserService_CreateRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/CreateRoleResponse" message="tns:IUserService_CreateRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/EditUser" message="tns:IUserService_EditUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/EditUserResponse" message="tns:IUserService_EditUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/EditRole" message="tns:IUserService_EditRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/EditRoleResponse" message="tns:IUserService_EditRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/DeleteUser" message="tns:IUserService_DeleteUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/DeleteUserResponse" message="tns:IUserService_DeleteUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/DeleteRole" message="tns:IUserService_DeleteRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/DeleteRoleResponse" message="tns:IUserService_DeleteRole_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUserService" type="tns:IUserService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IUserService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserById">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetUserById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRoles">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetRoles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRoleById">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetRoleById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetModules">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetModules" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRoleByUserId">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetRoleByUserId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <soap:operation soapAction="http://tempuri.org/IUserService/CreateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateRole">
      <soap:operation soapAction="http://tempuri.org/IUserService/CreateRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditUser">
      <soap:operation soapAction="http://tempuri.org/IUserService/EditUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditRole">
      <soap:operation soapAction="http://tempuri.org/IUserService/EditRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap:operation soapAction="http://tempuri.org/IUserService/DeleteUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRole">
      <soap:operation soapAction="http://tempuri.org/IUserService/DeleteRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserService">
    <wsdl:port name="BasicHttpBinding_IUserService" binding="tns:BasicHttpBinding_IUserService">
      <soap:address location="http://superpwcf.azurewebsites.net/ModuleUser/UserService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>