UserControl-GestionClient/Service References/ClientServiceGestionClient/ServiceGestionClient1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7880/GestionClientWCF/ServiceGestionClient.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SupErp.Entities" />
  <xs:element name="CreateCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SupErp.Entities" minOccurs="0" name="company" nillable="true" type="q1:Company" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateCompanyResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCustomer" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SupErp.Entities" minOccurs="0" name="GetCompanyResult" nillable="true" type="q2:Company" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListCompany">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SupErp.Entities" minOccurs="0" name="GetListCompanyResult" nillable="true" type="q3:ArrayOfCompany" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SupErp.Entities" minOccurs="0" name="company" nillable="true" type="q4:Company" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditCompanyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteCompanyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCompany_Contact">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SupErp.Entities" minOccurs="0" name="contact" nillable="true" type="q5:Company_Contact" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCompany_ContactResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateCompany_ContactResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompany_Contact">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idContact" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompany_ContactResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SupErp.Entities" minOccurs="0" name="GetCompany_ContactResult" nillable="true" type="q6:Company_Contact" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListCompany_Contact">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListCompany_ContactResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SupErp.Entities" minOccurs="0" name="GetListCompany_ContactResult" nillable="true" type="q7:ArrayOfCompany_Contact" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListCompany_ContactById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCompany" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListCompany_ContactByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SupErp.Entities" minOccurs="0" name="GetListCompany_ContactByIdResult" nillable="true" type="q8:ArrayOfCompany_Contact" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditCompany_Contact">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SupErp.Entities" minOccurs="0" name="contact" nillable="true" type="q9:Company_Contact" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditCompany_ContactResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditCompany_ContactResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCompany_Contact">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCompany_ContactResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteCompany_ContactResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>