GestionSalaire/WpfControlLibrarySalaire/Service References/ServiceSalaire/ServiceSalaire.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceSalaire" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:7880/GestionSalaireWCF/ServiceSalaire.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:7880/GestionSalaireWCF/ServiceSalaire.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:7880/GestionSalaireWCF/ServiceSalaire.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SupErp.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceSalaire_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="IServiceSalaire_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceSalaire_SearchUser_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchUser" />
  </wsdl:message>
  <wsdl:message name="IServiceSalaire_SearchUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchUserResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceSalaire_GetUserById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserById" />
  </wsdl:message>
  <wsdl:message name="IServiceSalaire_GetUserById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceSalaire_UpdateUserSalaryById_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserSalaryById" />
  </wsdl:message>
  <wsdl:message name="IServiceSalaire_UpdateUserSalaryById_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserSalaryByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceSalaire_GetState_InputMessage">
    <wsdl:part name="parameters" element="tns:GetState" />
  </wsdl:message>
  <wsdl:message name="IServiceSalaire_GetState_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStateResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceSalaire_UpdateUserState_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserState" />
  </wsdl:message>
  <wsdl:message name="IServiceSalaire_UpdateUserState_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserStateResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceSalaire_addPrime_InputMessage">
    <wsdl:part name="parameters" element="tns:addPrime" />
  </wsdl:message>
  <wsdl:message name="IServiceSalaire_addPrime_OutputMessage">
    <wsdl:part name="parameters" element="tns:addPrimeResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceSalaire_GetPrimesByUserId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPrimesByUserId" />
  </wsdl:message>
  <wsdl:message name="IServiceSalaire_GetPrimesByUserId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPrimesByUserIdResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceSalaire_addAbsence_InputMessage">
    <wsdl:part name="parameters" element="tns:addAbsence" />
  </wsdl:message>
  <wsdl:message name="IServiceSalaire_addAbsence_OutputMessage">
    <wsdl:part name="parameters" element="tns:addAbsenceResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceSalaire">
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSalaire/GetUser" message="tns:IServiceSalaire_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSalaire/GetUserResponse" message="tns:IServiceSalaire_GetUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSalaire/SearchUser" message="tns:IServiceSalaire_SearchUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSalaire/SearchUserResponse" message="tns:IServiceSalaire_SearchUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserById">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSalaire/GetUserById" message="tns:IServiceSalaire_GetUserById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSalaire/GetUserByIdResponse" message="tns:IServiceSalaire_GetUserById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserSalaryById">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSalaire/UpdateUserSalaryById" message="tns:IServiceSalaire_UpdateUserSalaryById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSalaire/UpdateUserSalaryByIdResponse" message="tns:IServiceSalaire_UpdateUserSalaryById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetState">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSalaire/GetState" message="tns:IServiceSalaire_GetState_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSalaire/GetStateResponse" message="tns:IServiceSalaire_GetState_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserState">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSalaire/UpdateUserState" message="tns:IServiceSalaire_UpdateUserState_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSalaire/UpdateUserStateResponse" message="tns:IServiceSalaire_UpdateUserState_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addPrime">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSalaire/addPrime" message="tns:IServiceSalaire_addPrime_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSalaire/addPrimeResponse" message="tns:IServiceSalaire_addPrime_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPrimesByUserId">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSalaire/GetPrimesByUserId" message="tns:IServiceSalaire_GetPrimesByUserId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSalaire/GetPrimesByUserIdResponse" message="tns:IServiceSalaire_GetPrimesByUserId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addAbsence">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSalaire/addAbsence" message="tns:IServiceSalaire_addAbsence_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSalaire/addAbsenceResponse" message="tns:IServiceSalaire_addAbsence_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceSalaire" type="tns:IServiceSalaire">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="http://tempuri.org/IServiceSalaire/GetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchUser">
      <soap:operation soapAction="http://tempuri.org/IServiceSalaire/SearchUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserById">
      <soap:operation soapAction="http://tempuri.org/IServiceSalaire/GetUserById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserSalaryById">
      <soap:operation soapAction="http://tempuri.org/IServiceSalaire/UpdateUserSalaryById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetState">
      <soap:operation soapAction="http://tempuri.org/IServiceSalaire/GetState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserState">
      <soap:operation soapAction="http://tempuri.org/IServiceSalaire/UpdateUserState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addPrime">
      <soap:operation soapAction="http://tempuri.org/IServiceSalaire/addPrime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPrimesByUserId">
      <soap:operation soapAction="http://tempuri.org/IServiceSalaire/GetPrimesByUserId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addAbsence">
      <soap:operation soapAction="http://tempuri.org/IServiceSalaire/addAbsence" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceSalaire">
    <wsdl:port name="BasicHttpBinding_IServiceSalaire" binding="tns:BasicHttpBinding_IServiceSalaire">
      <soap:address location="http://localhost:7880/GestionSalaireWCF/ServiceSalaire.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>