SupErp/SupERP.WPF.Comptabiity/Service References/ComptabilityWebServiceReference/ComptabilityService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ComptabilityService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:7880/ComptabilityWCF/ComptabilityService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:7880/ComptabilityWCF/ComptabilityService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:7880/ComptabilityWCF/ComptabilityService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SupErp.BLL.ComptabilityBLL.BllObject" />
      <xsd:import schemaLocation="http://localhost:7880/ComptabilityWCF/ComptabilityService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SupErp.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IComptabilityService_GetPlanComptable_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlanComptable" />
  </wsdl:message>
  <wsdl:message name="IComptabilityService_GetPlanComptable_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlanComptableResponse" />
  </wsdl:message>
  <wsdl:message name="IComptabilityService_GetExhangeRate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetExhangeRate" />
  </wsdl:message>
  <wsdl:message name="IComptabilityService_GetExhangeRate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetExhangeRateResponse" />
  </wsdl:message>
  <wsdl:portType name="IComptabilityService">
    <wsdl:operation name="GetPlanComptable">
      <wsdl:input wsaw:Action="http://tempuri.org/IComptabilityService/GetPlanComptable" message="tns:IComptabilityService_GetPlanComptable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComptabilityService/GetPlanComptableResponse" message="tns:IComptabilityService_GetPlanComptable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetExhangeRate">
      <wsdl:input wsaw:Action="http://tempuri.org/IComptabilityService/GetExhangeRate" message="tns:IComptabilityService_GetExhangeRate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComptabilityService/GetExhangeRateResponse" message="tns:IComptabilityService_GetExhangeRate_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IComptabilityService" type="tns:IComptabilityService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPlanComptable">
      <soap:operation soapAction="http://tempuri.org/IComptabilityService/GetPlanComptable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExhangeRate">
      <soap:operation soapAction="http://tempuri.org/IComptabilityService/GetExhangeRate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ComptabilityService">
    <wsdl:port name="BasicHttpBinding_IComptabilityService" binding="tns:BasicHttpBinding_IComptabilityService">
      <soap:address location="http://localhost:7880/ComptabilityWCF/ComptabilityService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>