SupErp/SupERP.WPF.Comptabiity/Service References/ComptabilityWebServiceReference/ComptabilityService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SupErp.BLL.ComptabilityBLL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SupErp.BLL.ComptabilityBLL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Periodicity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Libelle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Periodicity" nillable="true" type="tns:Periodicity" />
  <xs:complexType name="ArrayOfBilanComptable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BilanComptable" nillable="true" type="tns:BilanComptable" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBilanComptable" nillable="true" type="tns:ArrayOfBilanComptable" />
  <xs:complexType name="BilanComptable">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="TimePoint" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BilanComptable" nillable="true" type="tns:BilanComptable" />
</xs:schema>